{% extends 'layouts/base.html'%}

{% block content %}
<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae aut minus quibusdam ut odio dicta molestias blanditiis quia facere repellat praesentium ea dolores sint atque expedita, nam error vel illum eum dolorum? Hic porro delectus iure, sed repellat inventore odit pariatur eligendi! Veritatis cumque accusamus commodi nemo. Facilis eos, ipsum, expedita fugit aut nostrum suscipit fugiat, sed exercitationem maxime repellendus quia. Exercitationem, itaque quo? Placeat, magnam, natus voluptate sed aspernatur recusandae, a error eos quis doloribus necessitatibus quaerat unde. Perferendis dolore quam itaque corporis et accusamus, sapiente eveniet. Beatae eaque est expedita sint quaerat blanditiis incidunt culpa nisi eligendi at!</p>

<p>Website created by {{username}}</p>

{% endblock %}